{% comment %}New initial code template{% endcomment %}
{% block env %}from typing import Iterable, Any{% endblock env %}

{% block start %}
def remove_after_kth(items: list[Any], k: int) -> Iterable[Any]:
    # your code here
    return []
{% endblock start %}

{% block example %}
print('Example:')
print(list(remove_after_kth([42, 42, 42, 42, 42, 42, 42], 3)))
{% endblock %}

# These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
assert {% block call %}list(remove_after_kth({{t.input|p_args}}))
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
