<!-- Describe task in general -->

<p>
    Дано {% if is_js %}масив{% else %}список{% endif %} елементів, деякі з яких можуть повторюватися, створи і поверни новий {% if is_js %}масив{% else %}ітеративний об'єкт{% endif %}, який в цілому такий же, як <b class="code">items</b>, але лише не більше <b class="code">k</b> перших появ кожного елемента залишені, а всі наступні не включені. Зауваж також не зовсім інтуїтивно зрозумілий, але цілком виправданий випадок, коли <b class="code">k == 0</b>, який передбачає повернення порожнього об'єкта!
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} і ціле число.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, ітератор, генератор){% endif %}. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <i>
        Це завдання взяте з навчального курсу CCPS 109 Computer Science I, авторства <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a>.
    </i>
</p>
